<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Job Detail</title>
<style>
body  {
    background-image: url("resources/images/job.jpg");
	background-size: 1000px 600px;
    background-repeat: no-repeat;
}

</style>
</head>
<body>
<h3>Job Details</h3>
<div class="panel panel-default" style="width:300 px">
<div class="panel panel-heading">
<strong>Job Title</strong> : {{job.jobTitle}}<br>
</div>
<div class="panel-body">
<b>Job Description:</b> {{job.jobDescription}}<br>
<b>Skills Required:</b>{{job.skillsRequired}}<br>
<b>Years of Experience :</b> {{job.yrsOfExp}}<br>
<b>Location:</b> {{job.location}}<br>
<b>Salary:</b> {{job.salary}}<br>
<b>Posted On </b>{{job.postedOn | date:'medium'}}<br>
</div>
</div>
<a href="#/getalljobs">Back</a>
</body>
</html>